.navbar{
    background-color: transparent;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #00000048;
}

.imagem{
    max-width: 200px;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
    font-size: 19px;
    cursor: pointer;
    font-weight: 600; 
    transition: 0.3s;
}

.item:hover{
    color: var(--vermelhoCanadaC-color); 
}