
.depoimentos_container{
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.258);
    border-radius: 20px;
    width: 450px;   
    padding: 1em;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

.depoimentos_container h2{
    margin-top: -50px;
    color: var(--vermelhoEscuroC-color);
}

.depoimentos_container p{
    text-align: justify;
    color: #5a5a5a;
    font-size: 14px;
    margin-top: 0px;
}

.depoimentos_container p:nth-of-type(1){
    margin-top: -20px;
    font-size: 14px;
    color: #5a5a5a;
    font-style: italic;
}

.img_depoimento{
    max-width: 130px;
    border-radius: 50%;
    position: relative;
    top: -45px;
    left: 150px;
    box-shadow: 0 0 5px 3px #00000052;
}

.avaliacao{
    width: 100px;
    position: relative;
    left: -10px;
}

@media (max-width: 1200px){
    .depoimentos_container {
        width: 400px;
    }
    .img_depoimento{
        left:135px;
    
    }
}

@media (max-width: 1000px){
    .depoimentos_container {
        width: 320px;
    } 
    
    .depoimentos_container p{
        font-size: 13px;
    }

    .img_depoimento{
        left:105px;
        width:125px ;
    }
}

@media (max-width: 800px){
    .depoimentos_container{
        width: 450px;
        
    }

    .depoimentos_container p{
        font-size: 14px;
    }
    
    .img_depoimento{
        left:155px;
        width:125px ;
    }
    
}

@media (max-width: 700px){
    .depoimentos_container{
        width: 380px;
    }

    .img_depoimento{
        max-width: 130px;
        left: 130px;
    }
    
}

@media (max-width: 600px){
   
}

@media (max-width: 540px){
    
}

