
.depoimentos_container{
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.258);
    border-radius: 20px;
    width: 450px;   
    padding: 1em;
    margin-top: 100px;
}

.depoimentos_container h2{
    margin-top: -50px;
    color: var(--vermelhoEscuroC-color);
}

.depoimentos_container p{
    text-align: justify;
    color: var(--pretoTotalC-color) ;
}

.depoimentos_container p:nth-of-type(1){
    margin-top: -15px;
    font-size: 14px;
}

.img_depoimento{
    max-width: 140px;
    border-radius: 50%;
    position: relative;
    top: -45px;
    left: 150px;
    box-shadow: 0 0 5px 3px #00000052;
}

.avaliacao{
    width: 100px;
    position: relative;
    left: -10px;
}