.investimento_container{
    display: flex;
    margin-top: 0px;
}

.texto_container{
    padding: 2em;
    background-color: var(--vermelhoEscurob-background-color);
    color: #fff;
    text-align: center;
    
}

.texto_container h1{
    width: 60%;
    font-size: 35px;
    font-weight: 800;
    margin: 0 auto;
    margin-top: 50px;

}

.borda_embaixo{
    height: 2px;
    width: 40%;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 15px;
    border: 4px;
}

.texto_container p{
    width: 58%;
    text-align: justify;
    margin: 15px auto;
    font-size: 14px;
    padding-bottom: 20px;
}