.investimento_container{
    display: flex;
    margin-top: 0px;
}

.texto_container{
    padding: 2em;
    background-color: var(--vermelhoEscurob-background-color);
    color: #fff;
    text-align: center;
    
}

.texto_container h1{
    width: 60%;
    font-size: 35px;
    font-weight: 800;
    margin: 0 auto;
    margin-top: 50px;

}

.borda_embaixo{
    height: 2px;
    width: 40%;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 15px;
    border: 4px;
}

.texto_container p{
    width: 58%;
    text-align: justify;
    margin: 15px auto;
    font-size: 14px;
    padding-bottom: 20px;
}



@media (max-width:1224px){
    .texto_container h1{
        width: 70%;
       
    }

    .texto_container p{
        width: 70%;
        font-size: 14px;
    }
}

@media (max-width: 1000px){

    .texto_container h1{
        width: 75%;
        font-size: 30px;
    }

    .texto_container p{
        width: 80%;
        font-size: 14px;
    }
}

@media (max-width: 800px){
 
    .texto_container h1{
        width: 77%;
        font-size: 28px;
    }

    .texto_container p{
        width: 90%;
        font-size: 14px;
    }
}

@media (max-width: 700px){
    .texto_container h1{
        width: 90%;
        font-size: 27px;
    }

    .texto_container p{
        width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 600px){
    .texto_container h1{
        width: 90%;
        font-size: 24px;
    }

    .texto_container p{
        width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 540px){
    .texto_container h1{
        width: 90%;
        font-size: 22px;
    }

    .texto_container p{
        width: 100%;
        font-size: 13px;
    }
}