.venda_container{
    justify-content: center;
}

.venda_container h1{
    font-size: 40px;
    margin-top: 80px;
    color: #1a2d75;
    font-weight: 800;
    text-align: center;
    padding-bottom: 0px;
}

.borda_em_baixo{
    height: 3px;
    width: 40%;
    background-color: brown;
    margin: 0 auto;    
    margin-top: -12px;
    border-radius: 4px;
}

.venda_container p{
    font-size: 14px;
    color: #5a5a5a;
    width: 75%;
    margin:0 auto;
    margin-top: 20px;
    text-align: justify;
}

.venda_container p:nth-of-type(2){
    text-align: center;
    margin-top: 10px;
}

.depoimentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
    margin-bottom: 100px;
}

@media (max-width: 1200px){
    .venda_container h1{
        font-size: 38px;
    }

    .venda_container p{
        width: 80%;
    }
}

@media (max-width: 1000px){
    .venda_container h1{
        font-size: 31px;
        padding: 0 30px
    }

    .venda_container p{
        width: 80%;
    }
}

@media (max-width: 800px){
    .venda_container p{
        width: 90%;
    }
   
    
}

@media (max-width: 700px){
    .venda_container p{
        width: 92%;
        font-size: 13px;
    }
}

@media (max-width: 600px){
   
}

@media (max-width: 540px){
    
}

