.container_comparacao {
    background-color: var(--vermelhoEscurob-background-color);
    margin-top: 60px;
}

.container_comparacao h1{
    color: #fff;
    font-weight: 1000;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
    font-size: 40px;
    width: 33%;
    margin: 0 auto;
}

.container_comparacao span{
    font-size: 60px;
    color: #1a2c6c;
    font-weight: 800;
    margin-left: 30px;
    margin-bottom: 60px;
}

.card_container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}

.card_comparacao:nth-of-type(1){
    width: 250px;
}

.card_comparacao{
    background-color: #fff;
    margin-left: 30px;
    height: 180px;
    padding: 2em;
    border-radius: 30px;
    margin-bottom: 80px;    
}

.card_comparacao h3{
    color:#1a2c6c ;
    text-align: center;
    font-size: 22px;
    margin-top: -4px;
    margin-bottom: 40px;
    font-weight: 800;
}

.vantagens{
    display: flex;
    align-items: center;
    margin-top: -25px;
    font-size: 15px;
    color: #585858;
}

.vantagens svg{
    color: brown;
    margin-right: 4px;
}