:root{
  --brancoPadraoB-background-color: #fff;
  --brancoPadraoC-color: #fff;
  --vermelhoCanadaB-background-color: #eb0110;
  --vermelhoCanadaC-color: #eb0110;
  --vermelhoEscurob-background-color: #c60d21;
  --vermelhoEscuroC-color: #c60d21;
  --pretoTotalB-background-color: #000000;
  --pretoTotalC-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif ;
}

button{
  cursor: pointer;
}