@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300;1,400&display=swap');

:root{
  --brancoPadraoB-background-color: #fff;
  --brancoPadraoC-color: #fff;
  --cinzaClaroB-background-color: #ededed;
  --cinzaClaroC-color: #ededed;
  --vermelhoCanadaB-background-color: #eb0110;
  --vermelhoCanadaC-color: #eb0110;
  --vermelhoEscurob-background-color: #c60d21;
  --vermelhoEscuroC-color: #c60d21;
  --pretoTotalB-background-color: #000000;
  --pretoTotalC-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

button{
  cursor: pointer;
}